<h1 class="text-center">{{ title }}</h1>

<div class="containerMap">
<agm-map (mapClick)="mapClick($event)" [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

</div>
<div class="row d-flex justify-content-center">
  <input (change)="mapWeather(zone)"  [(ngModel)]="zone"placeholder="Digita o clicca sulla mappa una localita">
  
</div>
<div class="column d-flex justify-content-center">
    <p>{{zone}}</p>
  <img *ngIf="!loading"  [src]="this.risultato.currentConditions.iconURL"><img *ngIf="loading" [src]=imgLoading height="50px" width="50px">
</div>



      
<div class="container">
  
<div class="table-responsive-sm">
<table class="table " >
  <thead>
  <tr>
  <th >Giorno Orario</th>
  <th >Temperature</th>
  <th >Umiditá</th>
  <th >Situazione</th>
  <th >Probabilita precipitazioni</th>
  <th >Vento</th>
</tr>
</thead>

<tr>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.dayhour}}  </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.temp.c+"C"+"-"+this.risultato.currentConditions.temp.f+"F"}} </p>   <img *ngIf="loading" [src]=imgLoading height="50px" width="50px">    </td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.humidity}}  </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.comment}}   </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.precip}}    </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.wind.km+"km"}}</p>                                                  <img *ngIf="loading" [src]=imgLoading height="50px" width="50px">                                   </td> 
  </tr>

</table>
</div>
</div>


<!--
  {dayhour: 'Thursday 11:00 PM', temp: {…}, precip: '2%', humidity: '72%', wind: {…}, …}
  comment: "Partly cloudy"
  dayhour: "Thursday 11:00 PM"
  humidity: "72%"
  iconURL: "https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png"
  precip: "2%"
  temp: {c: 13, f: 55}
  wind: {km: 6, mile: 4}
  [[Prototype]]: Object

  -->