<h1 class="text-center">{{ title }}</h1>

<div class="container">
<agm-map (mapClick)="mapClick($event)" [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
</div>

<img [src]="this.risultato.currentConditions.iconURL">
      {{zone}}
<table class="table " >
  <thead>
  <tr>
  <th scope="col">Giorno Orario</th>
  <th scope="col">Temperature</th>
  <th scope="col">Umiditá</th>
  <th scope="col">Situazione</th>
  <th scope="col">Probabilita precipitazioni</th>
  <th scope="col">Vento</th>
</tr>
</thead>

<tr>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.dayhour}}  </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.temp.c+"C"+"-"+this.risultato.currentConditions.temp.f+"F"}} </p>   <img *ngIf="loading" [src]=imgLoading height="50px" width="50px">    </td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.humidity}}  </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.comment}}   </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.precip}}    </p>                                                    <img *ngIf="loading" [src]=imgLoading height="50px" width="50px"></td>
    <td><p *ngIf="!loading">{{this.risultato.currentConditions.wind.km+"km"}}</p>                                                  <img *ngIf="loading" [src]=imgLoading height="50px" width="50px">                                   </td> 
  </tr>
</table>


<!--
  {dayhour: 'Thursday 11:00 PM', temp: {…}, precip: '2%', humidity: '72%', wind: {…}, …}
  comment: "Partly cloudy"
  dayhour: "Thursday 11:00 PM"
  humidity: "72%"
  iconURL: "https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png"
  precip: "2%"
  temp: {c: 13, f: 55}
  wind: {km: 6, mile: 4}
  [[Prototype]]: Object

  -->